<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Listing</title>
  </head>
  <body>
    <h1>This Pupper Has Been Listed For Adoption!</h1>
    <h2>Puppy Name: <%= @name %></h2>
    <h2>Puppy Breed: <%= @breed %></h2>
    <h2>Puppy Age: <%= @age %></h2>
  </body>
</html>
