<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Listing</title>
  </head>
  <body>
    <h2>This Puppy Has Been Listed For Adoption!</h2>
    <h3>Puppy Name: <%= @name %></h3>
    <h3>Puppy Breed: <%= @breed %></h3>
    <h3>Puppy Age: <%= @age %></h3>
  </body>
</html>
